/* ********************* Full Document Styles ********************* */
*{
    box-sizing: border-box;
    color: #000000;
}

body {
    background: linear-gradient(0deg, #91928d, #d8dad6, #eaeeeb, #ffffff);
	background-size: 100% 100%;
    animation: gradient 10s ease infinite;
    background-repeat: no-repeat;
    margin: 0 auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}

/* ********************* Heading & Intro Styles ********************* */

h2, legend{
    font-family: Roboto;
    text-shadow: 1px 1px 1px rgb(51, 51, 51);
    color: #000000;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 2rem;
}

/* #intro{
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
} */

#intro p{
    font-style: italic;
    font-weight: 600;
    margin: 1rem;
    padding: 2rem;
}

/* ********************* Navbar Styles ********************* */

#header-nav{
    background-image: url('../images/navbar\ image.jpg');
    background-color: rgb(216, 238, 236);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99vw;
    opacity: 0.8;
    width: 100%;
    height: 20vmin;
    border-bottom: 3px solid rgb(11, 8, 116);
}

.container{
    padding: 1rem 2rem;    
    height: 20vh;
}

.navbar-default .navbar-brand{
    font-size: 12vmin;
    font-family: Roboto;
    font-weight: 700;
    margin: 1.5rem;
    color: rgb(11, 8, 116);
    /* padding: 1rem; */
    text-shadow: 2px 2px 2px #222;
    
}

.navbar-default .navbar-brand:hover{
    color: rgb(11, 8, 116);
}

/* ********************* Logo Styles ********************* */

#logo img{
    float: left;
    margin: 2rem;
    width: 15vmin;
    height: 15vmin;
    padding: 2rem;
    line-height: 0.75;
}
#logo img:hover{
    width: 17vmin;
    height: 16%;
    float: left;
    padding: 1rem;
    line-height: 0.75;
}

/* ********************* Precautions List Styles ********************* */

#prec-list ul{
    list-style: none;
    width: 50vmax;
    float: left;
}

#prec-list li{
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
}

#intro, li p{
    width: 100%;
    margin: 0;
    overflow-y: hidden;
    margin: 1rem 0;
    font-size: 1.5rem;
}/* ********* Info ********* */

li img{
    width: 30%;
    height: 100%;
}/* ********* Image ********* */

li h4{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}/* ********* Heading ********** */

.text{
    width: 70%;
    height: 100%;
    position: relative;
    float: right;
    padding: 2%;
}

/* ********************* COVID Articles Styles ********************* */

#articles, form{
    position: relative;
    float: left;    
    width: 30%;
    margin: 2rem 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
    padding: 1rem;
}

#articles ul{
    list-style-type: none;
    padding-left: 3rem;
}

#articles li{
    margin: 1rem;
    padding: 0.5rem;
}

#articles ul li::before {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 10px 0;
}

#articles a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
}

#articles a:hover{
    font-size: 1.62rem;
}

/* ********************* Contact Section Styles ********************* */

input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}

.row{
    margin-bottom: 2rem;
}

button{
    margin: 1rem;
}

form{
    padding: 2rem;
}

#success{
    display: none;
    float: right;
    left: 40%;
    width: 35%;
    margin: 0 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    padding: 1rem;
}
/* ********************* Responsive Styles ********************* */

@media (min-width: 768px) and (max-width: 991px){

    #logo img{
        float: left;
        margin: 0 2rem;
        width: 15vmin;
        height: 15vmin;
        padding: 2rem;
        line-height: 0.75;
    }

    #logo img:hover{
        width: 16vmin;
        height: 16vmin;
        padding: 1rem;
    }

	#prec-list ul{
        list-style: none;
        width: 100%;
        padding: 0;
    }

    #prec-list li{
        height: 150px;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #ffffff;
        overflow: hidden;
    }

    #articles, form{    
        width: 80%;
        margin: 3rem 7rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #ffffff;
        overflow: hidden;
        padding: 1rem;
    }

    .row{
        margin-bottom: 2rem;
        padding: 1rem;
    }
}
    
@media (max-width: 767px){

    .container{
        padding: 1rem 2rem;    
        height: 20vw;
    }

    #logo img{
        display: none;
    }
    
    .navbar-default .navbar-brand{
        font-size: 12vmin;
        font-family: Roboto;
        font-weight: 700;
        margin: 0;
        color: rgb(11, 8, 116);
        text-shadow: 2px 2px 2px #222;        
    }

    #prec-list ul{
        list-style: none;
        width: 100%;
        padding: 0;
    }

    #prec-list li{
        height: 150px;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #ffffff;
        overflow: hidden;
    }

    #articles, form{    
        width: 90%;
        margin: 1.9rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #ffffff;
        overflow: hidden;
        padding: 1rem;
    }

    .row{
        margin-bottom: 2rem;
        padding: 1rem;
    }
    
    #articles ul{
        list-style-type: none;
        padding: 0;
    }

    legend{
        margin: 0 auto;
        text-align: center;
    }
}