/* ********************* Full Document Styles ********************* */
*{
    box-sizing: border-box;
    color: #000000;
}

body {
    background: linear-gradient(45deg, #b8b8b6, #d1d1d0, #e2e4e2, #ffffff);
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    background-repeat: no-repeat;
    margin: 0 auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}

/* ********************* Collapsable Menu Styles ********************* */

.container button{	
    float: right;
    margin: 0;
    top: 30%;
}
    
.navbar-toggle .icon-bar{
    border: 1px solid rgb(11, 8, 116);
}

.navbar-header button.navbar-toggle{
    clear: both;
}

.navbar-collapse{
    margin-top: 2px;    
    width: 100%;
	background-color: #ffffff;
    text-align: center;					
}

#nav-list a{
    font-family: 'Times New Roman', Times, serif;
	color: rgb(11, 8, 116);
	font-weight: 700;
    font-size: 2rem;
    background-color: #d4dad5;
    margin-bottom: 1px;
}

#nav-list a:hover, #nav-list a:focus{
    background-color: #b3bbb5;
}

/* ********************* Heading & Intro Styles ********************* */

h2, legend{
    font-family: Roboto;
    text-shadow: 1px 1px 1px rgb(51, 51, 51);
    color: #000000;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 2rem;
}

#intro p{
    font-style: italic;
    font-weight: 600;
    margin: 1rem;
    padding: 2rem;
}

/* ********************* Navbar Styles ********************* */

#header-nav{
    background-image: url('../images/navbar\ image.jpg');
    background-color: rgb(216, 238, 236);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 20vmin;
    border-bottom: 3px solid rgb(11, 8, 116);
    position: sticky;
    top: 0;
    transition: top 0.4s;
}

.container{
    margin: 0;
    padding: 1rem 2rem;    
    height: 100%;
}

.navbar-default .navbar-brand{
    position: relative;
    top: 25%;
    font-size: 12vmin;
    font-family: Roboto;
    font-weight: 700;
    color: rgb(11, 8, 116);
    text-shadow: 2px 2px 2px #222;        
}

.navbar-default .navbar-brand:hover{
    color: rgb(11, 8, 116);
}

.navbar-brand img{
    width: 6vmin;
    height: 6vmin;
    display: inline-block;
    border-radius: 6rem;
}

/* ********************* Logo Styles ********************* */

#logo img{
    float: left;
    margin: 0;
    width: 14vmin;
    height: 16vmin;
    padding: 2rem;
}

#logo img:hover{
    padding: 1rem;
}

/* ********************* Precautions List Styles ********************* */

#prec-list ul{
    list-style: none;
    width: 60%;
    float: left;
}

#prec-list li{
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
}

#intro, li p{
    width: 100%;
    margin: 0;
    overflow-y: hidden;
    margin: 1rem 0;
    font-size: 1.5rem;
}/* ********* Info ********* */

li img{
    width: 30%;
    height: 100%;
}/* ********* Image ********* */

li h4{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}/* ********* Heading ********** */

.text{
    width: 70%;
    height: 100%;
    float: right;
    padding: 2%;
}

/* ********************* COVID Articles Styles ********************* */

#articles, form{
    float: right;    
    width: 30%;
    margin: 0 5rem 5rem 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    overflow: hidden;
    padding: 2rem;
}

#articles h2, legend{
    margin: 0 auto;
    text-align: left;
}

#articles ul{
    list-style-type: none;
    padding-left: 1rem;
}

#articles li{
    margin: 1rem;
    padding: 0.5rem;
}

#articles ul li::before {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 10px 0;
}

#articles a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
}

#articles a:hover{
    font-size: 1.62rem;
}

/* ********************* Contact Section Styles ********************* */

input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}

.row{
    margin-bottom: 2rem;
}

button{
    margin: 1rem 0;
}

form{
    padding: 2rem;
}

#success{
    display: none;
    float: right;    
    width: 30%;
    margin: 0 5rem 5rem 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    padding: 1rem;
}

/* ********************* Responsive Styles ********************* */

@media (min-width: 768px){

    #nav-list, .navbar-toggle{
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1199px){

    #header-nav{
        height: 19vmin;
    }

    #nav-list, .navbar-toggle{
        display: none;
    }

    #logo img{
        width: 14vmin;
        height: 16vmin;
        padding: 1.75rem; 
    }

    #logo img:hover{
        padding: 0.75rem;
    }
    
	#prec-list ul{
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }

    #prec-list li{
        width: 90%;
    }
    
    #articles{
        padding: 2rem;
    }

    #articles ul{
        padding: 0;
    }

    #articles li{
        width: 47%;
    }
    #articles li:nth-child(odd){
        float: left;
    }

    #articles li:nth-child(even){
        float: right;
    }

    #articles{    
        width: 90%;
        float: none;
        margin: auto;
    }

    form{
        width: 80%;
        float: none;
        margin: auto;
    }

    .row{
        padding: 1rem;
    }

    #articles h2, legend{
        margin: 0 auto;
        text-align: left;
    }    

    #contact, #non-contact{
        margin: 5rem 0;
    }

    #success{
        float: none;    
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 568px) and (max-width: 800px) and (min-height: 568px){
    
    #header-nav{
        height: 18vmin;
    }

    .container button{
        top: 40%;
    }

    .navbar-brand img{
        width: 7vmin;
        height: 7vmin;
    }

    .navbar-default .navbar-brand{   
        line-height: 0.2;   
    }

    #logo img{
        width: 12vmin;
        height: 14vmin;
        padding: 1rem;
    }

    #logo img:hover{
        padding: 0;
    }
    
	#prec-list ul{
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }

    #prec-list li{
        width: 90%;
    }
    
    #articles{
        padding: 2rem;
    }

    #articles ul{
        padding: 0;
    }

    #articles, #success, form{    
        width: 90%;
        float: none;
        margin: auto;
    }

    .row{
        padding: 1rem;
    }

    #articles h2, legend{
        margin: 0 auto;
        text-align: left;
    }    

    #contact, #non-contact{
        margin: 5rem 0;
    }
}

@media (max-height: 568px){
    
    #header-nav{
        height: 20vmin;
    }

    .container button{
        padding: 0.7rem;
        top: 10%;
    }
    
    .navbar-toggle .icon-bar{
        width: 18px;
    }

    .navbar-brand img{
        width: 7vmin;
        height: 7vmin;
    }

    .navbar-default .navbar-brand{   
        padding: 0 1.5rem;   
    }

    #logo img{
        width: 12vmin;
        height: 14vmin;
        padding: 0.5rem;
    }

    #logo img:hover{
        padding: 0;
    }
    
	#prec-list ul{
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }

    #prec-list li{
        width: 90%;
    }
    
    #articles{
        padding: 2rem;
    }

    #articles ul{
        padding: 0;
    }

    #articles, #success, form{    
        width: 90%;
        float: none;
        margin: auto;
    }

    .row{
        padding: 1rem;
    }

    #articles h2, legend{
        margin: 0 auto;
        text-align: left;
    }    

    #contact, #non-contact{
        margin: 5rem 0;
    }
}

@media (max-width: 568px){

    .container button{
        padding: 0.8rem;
        top: 17%;
    }
        
    .navbar-toggle .icon-bar{
        width: 19px;
    }

    .navbar-brand img{
        width: 7vmin;
        height: 7vmin;
    }

    #logo img{
        display: none;
    }
    
    .navbar-default .navbar-brand{
        position: static;
        padding: 1rem;
        line-height: 0.4;
    }

    #prec-list ul{
        width: 100%;
        padding: 0;
    }

    #prec-list li{
        height: 40%;
        width: 80%;
    }
    
    li img{
        width: 100%;
    }

    .text{
        float: left;
        padding: 2rem;
        width: 100%;
    }
    
    #articles, #success, form{    
        width: 80%;
        float: none;
        margin: auto;
    }

    #contact, #non-contact{
        margin-bottom: 4rem;
    }

    .row{
        padding: 0.3rem;
        margin-bottom: 1rem;
    }
    
    #articles ul{
        padding: 0;
    }

    #articles h2, legend{
        margin: 1rem;
        text-align: left;
    }
    button{
        margin: 1rem 0.3rem;
    }
}